<!DOCTYPE html>
<html>
  <head>
    <title>WebSite</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header">
        <h1 id="main-title"><%= image_tag "whitelogo.png" %><a href="/">ParÁgil</a></h1>
      </div>
    </div>
    
    <div id="content-wrapper">
      <%= yield %>
    </div>
    
    <div id="footer-wrapper">
      <hr/>
      <div id="footer">
        <p>email: <a href="mailto:contact@paragil.com">contact@paragil.com</a></p>
        <p>
          usa: <span class="phone">1-415-509-7653</span>  -  py: <span class="phone">595-961-782123</span>
        </p>
      </div>
    </div>
  </body>
</html>

